body { background: #373737}
/* drop-down menu bad */
#string { position: relative; }
#string > section { height: auto; }
#closet { display: inline-block; padding: 0; }
#closet > *:first-child { margin-right: 200px; display: block; }
#closet > nav { display: table-cell; padding: 0; }
.links { width: auto; }
.links h2, .links li { text-align: center; }
.links li { width: 32%; font-size: 1.3em; }
#door span { display: none; }
#door { font-size: 1.3em; text-align: center; }
.metadata { padding: 6px 12px 0; }

/* main content body */
#twine { position: relative; background: white; top: 0; bottom: 3em; }
.post article { margin-left: 0; }

/* footer bar */
#thimble { position: relative; }
#thimble a { font-size: 1.2em; }
