* { margin: 0; padding: 0; }
body { font-family: Cardo, "MS Mincho", IPAMincho, serif; }
a { color: #cf1f1f; text-decoration: none; }
a:hover { text-decoration: underline; background: rgba(0,0,0,0.07); }
p { text-align: justify; }
#string {
	width: 100%;
	background: #ffdfcf url("/images/hisaxmas.png") right top no-repeat;
	position: absolute;
	z-index: 10;
}
#door {
	height: 1.6em;
	background: #373737;
	color: #dfdfdf;
}
#door label {
	font-family: "Open Sans", sans-serif;
	padding: 0.2em 0;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.3em;
	text-indent: 1em;
	display: block;
	cursor: pointer;
}
#door span { float: right; padding-right: 0.5em; }
#knob ~ section {
	height: 0;
	overflow: hidden;
	transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
	-webkit-transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
	-moz-transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
	-o-transition: .6s all cubic-bezier(0.730, -0.485, 0.145, 1.620);
}
#knob:checked ~ section { height: 170px; }
#knob ~ #door em:first-child { display: inline; }
#knob ~ #door em:last-child { display: none; }
#knob:checked ~ #door em:first-child { display: none; }
#knob:checked ~ #door em:last-child { display: inline; }
#knob { display: none; }
#closet { width: 100%; }
#closet > * { display: table-cell; padding: 0 1%; }
#closet > *:last-child { width: 180px; padding: 0; }
.about { padding-right: 2em; width: 400px; }
.about .gravatar { float: left; margin: 0.7em 1em 0.3em 0; }
.links h2 { letter-spacing: 0.05em; padding-bottom: 0.15em; }
.links li {
	display: inline-block;
	padding-top: 0.1em;
	width: 48%;
	list-style: none;
	font-size: 1.1em;
}
.links li a { color: inherit; padding: 0 0.25em 0.1em;  display: block; }
.links li a:hover {
	background: #373737;
	color: #dfdfdf;
	text-decoration: none;
}
.table { display: table; }
#twine { position: absolute; top: 1.6em; bottom: 0; overflow: auto; }
.entry {
	width: 80%;
	margin: 1em auto;
	background: #efefef;
	border: 1px solid #3f3f3f;
	border-radius: 0 0 1em 1em;
	box-shadow: 12px 12px 18px -6px #9f9f9f;
}
.entry + .entry { margin-top: 2.5em; }
.entry header h2 { font-size: 1.3em; background: #373737; }
.entry header h2 a { color: #dfdfdf; padding: .1em 2em; display: block; }
.entry header h2 a:hover { background: #7f0f0f; text-decoration: none; }
.entry article { padding: 0.4em; text-indent: 2em; font-size: 1em; }
.entry article p { font-family: "Open Sans", "MS Gothic", IPA Gothic, Osaka, sans-serif; }
.entry article p + p { margin-top: 0.5em; }
