{% import "macros.html" as macros -%}
<!DOCTYPE html>
<title>{{ macros::path_title() }}</title>
<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if config.extra.author %}<meta name="author" content="{{ config.extra.author }}">{% endif %}
<link rel="shortcut icon" href="{{ get_url(path="favicon.png") }}">
<link rel="icon" href="{{ get_url(path="favicon.png") }}">
<link rel="stylesheet" href="{{ get_url(path="site.css") }}">
<!-- should be in dedicated index pages only link href="{{ get_url(path="rss.xml") }}" rel="alternate" type="application/rss+xml" title="{{ config.title }}"-->
{%- block head %}
{%- endblock head %}

<header class="closet" id="top">
    <nav>
      <ul>
        <li><a class="logs" href="{{ get_url(path = '@/logs/_index.md', lang = lang) }}">{{ trans(key = "logs", lang = lang) }}</a></li>
        <li><a class="about" href="{{ get_url(path = '@/contact.md', lang = lang) }}">{{ trans(key = "about", lang = lang) }}</a></li>
        <li><a class="github" href="https://github.com/lae">Github</a></li>
        <li><a class="resume" href="{{ get_url(path = '@/resume.md', lang = lang) }}">{{ trans(key = "resume", lang = lang) }}</a></li>
        <li><a class="tags" href="/tags/">{{ trans(key = "tags", lang = lang) }}</a></li>
      </ul>
    </nav>
</header>

<header class="door">
  <a href="/logs" title="home">lae's notebook</a>
  <a href="#top" title="scroll to top">&#x2191;</a>
</header>

<main>
{%- block content %}
{%- endblock content %}
</main>

{{ macros::piwik() }}
