{% import "macros.html" as macros -%}
<!DOCTYPE html>
<html>
<head>
{%- block head %}
    <title>{{ macros::path_title() }}</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ config.extra.author }}">
    <meta name="twitter:card" content="summary_large_image" />
    {%- if page %}
    {{ macros::opengraph(type="article", data=page) }}
    {%- endif %}
    <link rel="shortcut icon" href="{{ get_url(path="favicon.png") }}" />
    <link rel="icon" href="{{ get_url(path="favicon.png") }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="{{ get_url(path="site.css") }}" />
    <link rel="stylesheet" href="/mobile.css" media="handheld, only screen and (max-device-width: 800px)" />
    <link href="{{ get_url(path="rss.xml") }}" rel="feed" type="application/rss+xml" title="{{ config.title }}" />
{%- endblock head %}
</head>
<body>
<section id="string">
    <input type="checkbox" id="knob" />
    <section>
        <div id="closet">{% if page.title %}
            <div class="metadata">
                <h2>metadata</h2>
                <strong>Title:</strong> {{ page.title }}{% if page.date %}<br />
                <strong>Created on:</strong> {{ page.date | date(format="%F %T %Z") }}{% endif %}{% if page.extra.updated %}<br />
                <strong>Updated on:</strong> {{ page.extra.updated | date(format="%F %T %Z") }}{% endif %}{% if page.extra.source %}<br />
                <strong>Source:</strong> {{ page.extra.source }}{% endif %}{% if page.taxonomies.categories and page.taxonomies.categories | length > 0 %}<br />
                <strong>{% if page.taxonomies.categories | length == 1 %}Category{% else %}Categories{% endif %}:</strong> {% for c in page.taxonomies.categories %}{{ c | capitalize }}{% if loop.last != true %}, {% endif %}{% endfor %}{% endif %}{# if page.taxonomies.tags | length > 0 %}<br />
                <strong>Tags:</strong> {{ page.tags | join }}{% endif #}{% else %}
            <div class="about">
                <img src="http://www.gravatar.com/avatar/53ee1c392cbbff2e6ec8bf54bb457e82.png" alt="lae's gravatar" class="gravatar" />
                <p><abbr title="Welcome!">いらっしゃいませ！</abbr> I'm Musee, often referred to as lae on the interwebs. I'm an infrastructure engineer at FireEye by day and sysadmin/developer by night who mostly just hacks things here and there nowadays. I deal a lot with Ansible as well.</p>{% endif %}
            </div>
            <nav class="links">
                <h2>navigation</h2>
                <ul>
                    <li><a href="/resume">resume</a></li>
                    <li><abbr title="not yet implemented">snippets</abbr></li>
                    <li><a href="http://github.com/lae">github</a></li>
                    <li><a href="http://radio.milkteafuzz.com">radio</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </nav>
            <nav class="links">
                <h2>journal</h2>
                <ul>
                    <li><a href="/logs">home</a></li>
                    <li><a href="/archive">archive</a></li>
                    <li><a href="/categories/personal">personal</a></li>
                    <li><a href="/categories/projects">projects</a></li>
                    <li><a href="/categories/code">code</a></li>
                    <li><a href="/categories/desktop">desktop</a></li>
                </ul>
            </nav>
            <div></div>
        </div>
    </section>
    <header id="door" title="Click here for navigation controls and extra information"><label for="knob"><span><em>▼</em><em>▲</em></span>milk tea fuzz</label></header>
    <!--div style="display: block; width: 100%; background: #efef1f; padding: 2px 8px; font-size: 0.8em; font-family: sans-serif;">Currently for-hire. Please see my <a href="/resume">resume</a> and the <a href="/contact">contact page</a>.</div-->
</section>
<section id="twine">
{% block content %}{% endblock content %}
</section>
<footer id="thimble">
    {% block footer %}
    <span>{% if page.earlier.permalink %}
        &laquo;&nbsp;<a href="{{ page.earlier.permalink }}" rel="previous" title="{{ page.earlier.title }}">{{ page.earlier.title }}</a>{% elif paginator.previous %}{% if paginator.previous == paginator.first %}
        &laquo;&nbsp;<a href="{{ paginator.first }}" title="index page" rel="previous">newest leaves</a>{% else %}
        &laquo;&nbsp;<a href="{{ paginator.previous }}/" rel="previous" title="previous page">newer leaves</a>{% endif %}{% else %}
        &laquo;&nbsp;<script>document.write('<a href="'+document.referrer+'">where you were before</a>');</script>{% endif %}
    </span>
    <span style="text-align: center;"><a href="/logs" title="index page">home</a></span>
    <span>{% if page.later.permalink %}
        <a href="{{ page.later.permalink }}" rel="next" title="{{ page.later.title }}">{{ page.later.title }}</a>&nbsp;&raquo;{% elif paginator.next %}
        <a href="{{ paginator.next }}/" rel="next" title="next page">older leaves</a>&nbsp;&raquo;{% endif %}
    </span>
    {% endblock footer %}
</footer>
<!-- Piwik --><script type="text/javascript">var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var u="https://stats.milkteafuzz.com/";_paq.push(["setTrackerUrl",u+"piwik.php"]);_paq.push(["setSiteId","1"]);var d=document,g=d.createElement("script"),s=d.getElementsByTagName("script")[0];g.type="text/javascript";g.defer=true;g.async=true;g.src=u+"piwik.js";s.parentNode.insertBefore(g,s);})();</script><!-- End Piwik Code -->
</body>
</html>
