{% macro opengraph(type, data) -%}
<meta property="og:type" content="{{ type | default(value="website") }}" />
<meta property="og:title" content="{% if data.title %}{{ data.title }}{% else %}{{ macros::path_title() }}{% endif %}" />
<meta property="og:url" content="{{ data.permalink }}" />
<meta property="og:image" content="
{%- if data.extra.opengraph.image %}
{%-   if data.extra.opengraph.image is starting_with("./") -%}
{{ data.permalink }}{{ data.extra.opengraph.image | replace(from=".&#x2F;", to="") }}
{%-   else -%}
{{ data.extra.opengraph.image }}
{%-   endif -%}
{%- else -%}
{{ config.extra.opengraph.image | default(value="") }}
{%- endif -%}
" />
{%- if data.description %}
<meta property="og:description" content="{{ data.description }}" />
{%- endif %}
<meta property="og:site_name" content="{{ config.extra.opengraph.site_name | default(value=config.title) }}" />
{%- if type == "article" %}
<meta property="article:published_time" content="{{ data.date }}" />
{%-   if config.extra.opengraph.author %}
<meta property="article:author" content="{{ config.extra.opengraph.author }}" />
{%-   endif %}
{%-   if data.taxonomies.categories %}
<meta property="article:section" content="{{ data.taxonomies.categories.0 }}" />
{%-   endif %}
{%-   if data.taxonomies.tags %}
{%-     for tag in data.taxonomies.tags %}
<meta property="article:tag" content="{{ tag }}" />
{%-     endfor %}
{%-   endif -%}
{%- endif %}
{%- endmacro opengraph %}

{% macro path_title() -%}
{{ config.title }}
{%- if page -%}
    {%- if page.title -%}
        ::{{ page.components | slice(end=page.components | length-1) | join(sep="::") }}{% if page.components | length > 1 %}/{% endif %}{{ page.title }}
    {%- else -%}
        ::{{ page.components | join(sep="::") }}
    {%- endif -%}
{%- elif section -%}
    ::{{ section.components | join(sep="::") }}
{%- elif taxonomy -%}
    ::{{ current_path }}
{%- endif %}
{%- endmacro title %}

{% macro twitter_card(data) -%}
<meta name="twitter:card" content="{{ data.extra.twitter.card | default(value="summary") }}" />
{%- for tag in ["site", "creator", "description", "title", "image", "image_alt"] %}
{%-   if data.extra.twitter[tag] %}
<meta name="twitter:{{ tag | replace(from="_", to=":") }}" content="{{ data.extra.twitter[tag] }}" />
{%-   elif config.extra.twitter[tag] %}
<meta name="twitter:{{ tag | replace(from="_", to=":") }}" content="{{ config.extra.twitter[tag] }}" />
{%-   endif %}
{%- endfor %}
{%- endmacro twitter_card %}

{% macro piwik() -%}
<!-- Piwik -->
<script type="text/javascript">var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var u="https://stats.milkteafuzz.com/";_paq.push(["setTrackerUrl",u+"piwik.php"]);_paq.push(["setSiteId","1"]);var d=document,g=d.createElement("script"),s=d.getElementsByTagName("script")[0];g.type="text/javascript";g.defer=true;g.async=true;g.src=u+"piwik.js";s.parentNode.insertBefore(g,s);})();</script>
<!-- End Piwik Code -->
{%- endmacro piwik %}
