<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cardo" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="/css/journal.css" />
</head>
<body>
<section id="string">
    <input type="checkbox" id="knob" />
    <section>
        <div id="closet" class="table">
            <div class="about"><img src="http://www.gravatar.com/avatar/53ee1c392cbbff2e6ec8bf54bb457e82.png" alt="liliff's gravatar" class="gravatar" />
            <p><abbr title="Welcome!">いらしゃいませ!</abbr> I'm Musee, also known as lae in many places. I'm a system administrator and developer who mostly just hacks things here and there nowadays. 
            I currently co-admin the server for the <a href="http://knightsofreason.net">Knights of Reason</a> community and develop applications for <a href="http://commiesubs.com">Commie Subs</a>.</p></div>
            <nav class="links">
                <h2>navigation</h2>
                <ul>
                    <li><a href="/resume">resume</a></li>
                    <li><a href="/s">snippets</a></li>
                    <li><a href="http://github.com/liliff">github</a></li>
                    <li><a href="http://radio.milkteafuzz.com">radio</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/sitemap">sitemap</a></li>
                </ul>
            </nav>
            <nav class="links">
                <h2>journal</h2>
                <ul>
                    <li><a href="/j">home</a></li>
                    <li><a href="/archive">archive</a></li>
                    <li><a href="/j/personal">personal</a></li>
                    <li><a href="/j/projects">projects</a></li>
                    <li><a href="/j/code">code</a></li>
                    <li><a href="/j/customization">desktop</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <header id="door"><label for="knob">milk tea fuzz <span><em>▼</em><em>▲</em></span></label></header>
</section>
<section id="twine">
{{ content }}
</section>
</body>
</html>
