<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/mobile.css" media="handheld, only screen and (max-device-width: 800px)" />
    <meta name="viewport" content="width=800;">
</head>
<body>
<section id="string">
    <input type="checkbox" id="knob" />
    <section>
        <div id="closet">{% if page.category %}
            <div class="metadata">
                <h2>metadata</h2>
                <strong>Category:</strong> {{ page.category }} <br />
                <strong>Number of Posts:</strong> {{ site.categories[page.category].size }}{% elsif page.title %}
            <div class="metadata">
                <h2>metadata</h2>
                <strong>Title:</strong> {{ page.title }}{% if page.date %}<br />
                <strong>Created on:</strong> {{ page.date }}{% endif %}{% if page.updated %}<br />
                <strong>Updated on:</strong> {{ page.updated }}{% endif %}{% if page.source %}<br />
                <strong>Source:</strong> {{ page.source }}{% endif %}{% if page.categories.size > 0 %}<br />
                <strong>{% if page.categories.size == 1 %}Category{% else %}Categories{% endif %}:</strong> {% for c in page.categories %}{{ c | capitalize }}{% if forloop.last != true %}, {% endif %}{% endfor %}{% endif %}{% if page.tags.size > 0 %}<br />
                <strong>Tags:</strong> {{ page.tags | array_to_sentence_string }}{% endif %}{% else %}
            <div class="about">
                <img src="http://www.gravatar.com/avatar/53ee1c392cbbff2e6ec8bf54bb457e82.png" alt="liliff's gravatar" class="gravatar" />
                <p><abbr title="Welcome!">いらしゃいませ!</abbr> I'm Musee, often referred to as lae on the interwebs. I'm an entry-level system administrator and developer who mostly just hacks things here and there nowadays. I currently co-admin the server for the <a href="http://knightsofreason.net">Knights of Reason</a> community and develop applications for <a href="http://commiesubs.com">Commie Subs</a>.</p>{% endif %}
            </div>
            <nav class="links">
                <h2>navigation</h2>
                <ul>
                    <li><a href="/resume">resume</a></li>
                    <li><abbr title="not yet implemented">snippets</abbr></li>
                    <li><a href="http://github.com/liliff">github</a></li>
                    <li><a href="http://radio.milkteafuzz.com">radio</a></li>
                    <li><a href="/contact">contact</a></li>
                </ul>
            </nav>
            <nav class="links">
                <h2>journal</h2>
                <ul>
                    <li><a href="/j">home</a></li>
                    <li><a href="/archive">archive</a></li>
                    <li><a href="/j/personal">personal</a></li>
                    <li><a href="/j/projects">projects</a></li>
                    <li><a href="/j/code">code</a></li>
                    <li><a href="/j/desktop">desktop</a></li>
                </ul>
            </nav>
            <div></div>
        </div>
    </section>
    <header id="door"><label for="knob"><span><em>▼</em><em>▲</em></span>milk tea fuzz</label></header>
    <!--div style="display: block; width: 100%; background: #efef1f; padding: 2px 8px; font-size: 0.8em; font-family: sans-serif;">Currently for-hire. Please see my <a href="/resume">resume</a> and the <a href="/contact">contact page</a>.</div-->
</section>
<section id="twine">
{{ content }}
</section>
<footer id="thimble">
    <span>{% if page.previous.url %}
        &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>{% elsif paginator.previous_page %}{% if paginator.previous_page == 1 %}
        &laquo;&nbsp;<a href="/j" title="index page" rel="previous">newest leaves</a>{% else %}
        &laquo;&nbsp;<a href="/j/p/{{ paginator.previous_page }}/" rel="previous" title="previous page">newer leaves</a>{% endif %}{% else %}
        &laquo;&nbsp;<script>document.write('<a href="'+document.referrer+'">where you were before</a>');</script>{% endif %}
    </span>
    <span>{% if page.next.url %}
        <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;{% elsif paginator.next_page and page.url != "/archive/index.html" %}
        <a href="/j/p/{{ paginator.next_page }}/" rel="next" title="next page">older leaves {{ page.id }}</a>&nbsp;&raquo;{% endif %}
    </span>
</footer>
<!-- Piwik --><script type="text/javascript">var _paq=_paq||[];_paq.push(["trackPageView"]);_paq.push(["enableLinkTracking"]);(function(){var u="http://stats.milkteafuzz.com/";_paq.push(["setTrackerUrl",u+"piwik.php"]);_paq.push(["setSiteId","1"]);var d=document,g=d.createElement("script"),s=d.getElementsByTagName("script")[0];g.type="text/javascript";g.defer=true;g.async=true;g.src=u+"piwik.js";s.parentNode.insertBefore(g,s);})();</script><!-- End Piwik Code -->
</body>
</html>
